.mainContainer {
    justify-content: center;
}

.subpageBackground {
    z-index: 10;
    position: relative;
    top: 35vh;
    margin-bottom: 40vh;
}

.subpageBackground button {
    padding: 30px 20px;
    color: black;
}

.subpageContainer {
    margin-top: 35vh;
    z-index: 10;
    width: 100%;
    padding: 50px 0;
}

.postContainer {
    z-index: 10;
    margin: 20px;
}

.postBanner {
    width: 100%;
    height: calc(100vh - 100px);
    position: fixed;
    top: 100px;
    z-index: 1;
}

.postImage {
    position: static !important;
}

.galleryContainer {
    width: 100%;
}
