.banner {
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
    top: 100px;
    margin-bottom: 100px;
}
.subBanner {
    width: 100%;
    height: calc(100vh - 100px);
    position: fixed;
    top: 100px;
}
